---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <section
    class="mx-auto max-w-screen-xl px-4 py-8 text-center md:mt-16 lg:px-12 lg:py-16"
  >
    <h1
      class="mb-4 font-display text-4xl font-extrabold leading-none tracking-wider md:text-5xl"
    >
      Quick Astro
    </h1>
    <p class="mb-8 font-normal text-neutral-400 sm:text-lg">
      A minimalist theme ready to use with Tailwind, Prettier, ESLint, optimized
      for SEO, testing and more.
    </p>
    <div
      class="mb-8 flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-x-4 sm:space-y-0 lg:mb-16"
    >
      <a
        href="https://github.com/roblesdotdev/quick-astro#readme"
        target="_blank"
        rel="noreferrer noopener"
        class="inline-flex items-center justify-center rounded-lg px-5 py-3 text-center text-base font-medium outline-none focus:ring-2 focus:ring-neutral-100"
      >
        Get started
        <svg
          class="-mr-1 ml-2 h-5 w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        >
      </a>
    </div>
  </section>
</BaseLayout>
