---
import BaseHead from '~/components/shared/BaseHead.astro'
import '~/styles/global.css'

interface Props {
  title: string
  description?: string
  keywords?: string
  image?: string
}

const { title, description, keywords, image } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      keywords={keywords}
      image={image}
    />
  </head>
  <body class="min-h-screen overflow-x-hidden antialiased">
    <main class="container p-8">
      <slot />
    </main>
  </body>
</html>
